<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>768612596378-k0p9dvmvlg0gbprtg9qh2c2us6n17hrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.768612596378-k0p9dvmvlg0gbprtg9qh2c2us6n17hrp</string>
	<key>API_KEY</key>
	<string>AIzaSyARelW0gsOf3rIvetd65Uognnn3F6DrcTM</string>
	<key>GCM_SENDER_ID</key>
	<string>768612596378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vishalsoni.firebase-app-tutorial</string>
	<key>PROJECT_ID</key>
	<string>jvtest-fa3e8</string>
	<key>STORAGE_BUCKET</key>
	<string>jvtest-fa3e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768612596378:ios:7a8c0a6524b5468c3dbd23</string>
	<key>DATABASE_URL</key>
	<string>https://jvtest-fa3e8.firebaseio.com</string>
</dict>
</plist>